@import "~bootstrap/dist/css/bootstrap.min.css";
.card {
  height: 500px;
  width: 300px;
  position: relative;
}
.top-suit {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 100px;
}
.button-suit {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 100px;
}
.number {
  font-size: 200px;
}
